@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    gap: 0px;
    padding: 0px;
    margin: 0px;
}

/* Fill entire page */
html, body {
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Large title with gradient text */
.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    font-weight: bolder;
    margin: 10px;
    background: linear-gradient(darkblue, rgb(138, 105, 189));
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

/* Prevent body from wrapping */
body.container {
    flex-wrap: nowrap;
}

.display {
    display: flex;
    margin: 20px;
    padding: 20px;
    height: 50px;
    width: 510px;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    font-family: Michroma, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    border: 5px solid black;
    border-radius: 16px;
}

.calculator {
    flex: 0;
    height: 800px;
    width: 600px;
    background-color: darkgrey;
    border: 5px solid black;
    border-radius: 16px;
    box-shadow: 0 0 5px darkblue;
}

button {
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 16px;
}

/* Make zero and equal buttons stand out in size*/
.zero-btn, .equal-btn {
    width: 205px;
}

/* Colourize operator buttons */

.operators button {
    background-color: rgb(247, 244, 221);
}

.operators .del-btn {
    background-color: lightpink;
}

.operators .clear-btn {
    background-color: peachpuff;
}

.operators .equal-btn {
    background-color: palegoldenrod;
}

.buttons {
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

/* Make numbers and operators containers take up a 3:2 ratio of space */
.numbers {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    gap: 5px;
}

.operators {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-end;
}

/* Makes button look like it was pressed */
.pressed {
    transform: scale(0.9);
    border-color: black;
    box-shadow: 0 0 1rem black;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    margin: 20px;
}

a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

/* Show link when hovered */
a:hover {
    text-decoration: underline;
}

img {
    height: auto;
    width: 30px;
}